*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table,
th,
td {
    border: 2px solid black !important;
}

td {
    width: 20% !important;
}

input {
    width: 90%;
    padding: 2%;
}

td i {
    cursor: pointer;
}
